.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .select-container {
    flex-grow: 1; /* Ensure the select container takes remaining space */
    margin-right: 10px;
  }
  
  .select {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
    margin-right: 20px;
  }
  
  .button-container .ant-btn{
    text-align: right;
    margin-bottom: 16px;
  }

  .button-download {
    text-align: right;
  }

  @media (max-width: 1000px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .button-container {
      margin-left: 0; /* Reset margin for mobile layout */
      width: 100%; /* Ensure full width on smaller screens */
      text-align: left; /* Align button to the left */
    }

    .button-container .ant-btn {
        margin-bottom: 10px; /* Add spacing between buttons on mobile */
      }
  }

  @media (max-width: 798px) {
    .button-download {
      margin-left: 0; /* Reset margin for mobile layout */
      width: 100%; /* Ensure full width on smaller screens */
      text-align: left; /* Align button to the left */
      
    }
    .select-container {
      margin-bottom: 10px; /* Add spacing between buttons on mobile */
    }

    .button-download .ant-btn {
      margin-bottom: 10px; /* Add spacing between buttons on mobile */
    }
  }


  @media (max-width: 550px) {
    .button-download .ant-btn {
      margin-bottom: 10px; /* Ensure full width on smaller screens */
    }
  }
  @media (max-width: 425px) {
    .hide-on-xs {
      display: none;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .action-button {
    width: 75%;
    margin-bottom: 8px; /* Optional: Add spacing between buttons */
  }

  